{% extends 'base.html' %}

{% block customcss %}
{% endblock %}

{% block header %}
    <div class="alert alert-primary" role="alert">
        掲示板
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="alert alert-success" role="alert">
            <p>タイトル</p>
            <p>投稿者</p>
            <div>
                <button type="button" class="btn btn-primary btn">btn-1</button>
                <button type="button" class="btn btn-secondary btn">btn-2</button>
            </div>
        </div>
    </div>

{% endblock %}